#skills {
  padding: 4.65rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom right, #451d5c, #37216d);
}
#skills .subskill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subskill .heading {
  display: grid;
  place-items: center;
  gap: 1.4rem;
  padding-bottom: 2.5rem;
}
.subskill .heading h2 {
  color: #577cf5;
  font-size: 3.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.subskill .heading h2 div {
  padding: 0.2rem 6rem;
  background: linear-gradient(to right, #4c4cff, #7149b3);
  border-radius: 10px;
}
.subskill .heading p {
  color: #fff;
  font-size: 1.5rem;
}

.subskill .detailes {
  width: 90vw;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 3rem;
}
.subskill .detailes .progres-main {
  width: 100%;
  display: grid;
  gap: 0.7rem;
  padding: 15px 20px;
  border: 1px solid #62357cad;
  background: #2b243881;
  border-radius: 10px;
  color: #ffff;
  font-size: 1.5rem;
}
.subskill .detailes .progres-main .progres-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subskill .detailes .progres-main .progres-info span:last-child {
  color: #969595;
  font-size: 1.2rem;
}
.subskill .detailes .progres-main .progres {
  background-color: #77747483;
  width: 100%;
  border: none;
  border-radius: 10px;
}
.subskill .detailes .progres-main .progres .sub-progres {
  padding-block: 0.2px;
  border: none;
  border-radius: 10px;
}
.subskill .detailes .progres-main .progres .sub-progres .child-progres {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  left: 0.4rem;
  animation: move 3s linear infinite;
}

.subskill .tools {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.subskill .tools h3 {
  font-size: 1.5rem;
  color: #e2dddd;
}
.subskill .tools .span {
  display: flex;
  gap: 1rem;
}
.subskill .tools .span span {
  border: 1px solid #19191a;
  padding: 8px 15px;
  background-color: #2a2a2bd7;
  border-radius: 20px;
  color: #cfc9cf;
  font-size: 1rem;
  font-weight: 500;
}

/* responsive part start */

@media (min-width: 1366px) {
  .subskill .detailes {
    width: 1350px;
    padding: 0rem 2rem 3rem;
  }
}

@media (max-width: 760px) {
  .subskill .heading h2 {
    font-size: 8vw;
  }
  .subskill .heading h2 div {
    padding: 0.2rem 20vw;
  }

  .subskill .heading p {
    font-size: 1.13rem;
  }
  .subskill .detailes {
    grid-template-columns: 1fr;
  }
  .subskill .detailes .progres-main {
    font-size: 1.1rem;
  }
  .subskill .detailes .progres-main .progres-info span:last-child {
    font-size: 0.87rem;
  }
}
@media (max-width: 360px) {
  .subskill .tools .span span {
    font-size: 1rem;
    font-weight: 400;
  }
}

/* responsive part end */

/*  animestion  */

@keyframes move {
  0% {
    left: 0.4rem;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 0.4rem;
  }
}
